.container{
    
    width:70%;
    margin: auto;
    
    padding: 0px;
    margin-top: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

.today-weather-left{
    float:left;
    text-align : center;
    width:33%;
    border-right: 2px solid;
    height:200px;
}

.today-weather-left h2{
    text-align : center;
}

.today-weather-right{
    margin-left: 18px;
    margin-right: 18px;
    width:33%;
    float:left;
    border-right: 2px solid;
    height:200px;
}
